.square {
    background-color: #eee;
    border: 1px solid #999;
    width: 100px;
    height: 100px;
    font-size: 50px;
    text-align: center;
    line-height: 100px;
    border-radius: 0.5rem;
    box-shadow: #999;
    color: black;
}